* {
  box-sizing: border-box;
}

body {
  flex-direction: column;
  padding: 2%;
}

#root a {
  text-decoration: none;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}

.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.parent-div {
  margin: 0;
  display: flex;
  justify-content: space-between;
  flex-direction: row;
  width: 100%;
}

textarea {
  resize: none;
}

.homepage {
  position: inherit;
  margin: 1%;
}

.side-panel {
  position: sticky;
  top: 10%;
  max-width: 20%;
  max-height: 42rem;
  text-align: center;
  border: 1px solid white;
}

.card {
  padding: 5%;
}

.read-the-docs {
  color: #888;
}

.post {
  border: 1px solid #343a40;
  background-color: #161a1d;
  text-align: center;
  margin: 1em 0 1em 2em;
  max-width: 100%;
}

.post h2 {
  margin: 5%;
  text-decoration: none;
  color: white;
}

.detail-post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* This should be responsive in the future */
img {
  max-width: 95%;
  height: auto;
}

.button {
  position: sticky;
  bottom: 3%;
  float: inherit;
  left: 3%;
  color: gray;

}

.description {
  margin: 5%;
}

.description-detail {
  max-width: 95%;
}

.comment-zone {
  border: 1px solid gray;
  padding: 2%;
  margin: 1%;
}

.comment-date {
  float: right;
}

.comments-count {
  width: 10%;
  margin: 1%;
}

.container {
  position: absolute;
  max-width: 30%;
}

#submit-button {
  float: inline-end;
}

.create-page {
  align-items: center;
  text-align: right;
}

#create-post-button {
  width: 100px;
  height: 100px;
  padding: 13px 18px;
  border-radius: 60px;

  position: sticky;
  float: inherit;
  bottom: 3%;
  left: 3%;

  text-decoration: none;
  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
}

#create-post-button p {
  font-size: 6em;
}

.comments-section {
  padding-top: 5%
}

#submit-comment {
  float: inline-end;
}