body {
  align-items: center;
  flex-direction: column;
  padding: 5%;
}


#root a{
  text-decoration: none;
}

.logo {
  height: 6em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.parent-div {
  display: flex;
  flex-direction: row;
}

.homepage{
  position: inherit;
}

.side-panel {
  display: flex;
  flex-direction: column;
  position: sticky;
  width: 15rem;
  margin-left: 1rem;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.post {
  border: 1px solid #343a40;
  background-color: #161a1d;
  text-align: center;
  margin: 1em 0 1em 0;
  max-width: 550px;
}

.post h2 {
  margin: 25px;
  text-decoration: none;
  color: white;
}

.detail-post {
  display: flex;
  flex-direction: column;
  align-items: center;
}

/* This should be responsive in the future */
img {
  width: 500px;
  height: auto;
}

.button {
  position: sticky;
  bottom: 3%;
  float: inherit;
  left: 3%;
  color: gray;
  
}

.description {
  margin: 1em;
}

.description-detail {
  max-width: 500px;
}